<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.company.project.dao.BillMapper">
  <resultMap id="BaseResultMap" type="com.company.project.model.Bill">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="UUID" jdbcType="VARCHAR" property="uuid" />
    <result column="orderID" jdbcType="VARCHAR" property="orderid" />
    <result column="price" jdbcType="REAL" property="price" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="paymentID" jdbcType="VARCHAR" property="paymentid" />
  </resultMap>
</mapper>