<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.company.project.dao.ItemMapper">
    <resultMap id="BaseResultMap" type="com.company.project.model.Item">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="UUID" jdbcType="VARCHAR" property="uuid"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="owner" jdbcType="VARCHAR" property="owner"/>
        <result column="remain" jdbcType="INTEGER" property="remain"/>
        <result column="onSale" jdbcType="BIT" property="onsale"/>
        <result column="description" jdbcType="VARCHAR" property="description"/>
    </resultMap>

    <select id="selectItemName" resultMap="BaseResultMap">
        select uuid, name
        from item
        where uuid = #{uuid}
    </select>
    <select id="selectItemOwner" resultMap="BaseResultMap">
        select uuid, owner
        from item
        where uuid = #{uuid}
    </select>
    <select id="selectItemRemain" resultMap="BaseResultMap">
        select uuid, remain
        from item
        where uuid = #{uuid}
    </select>
    <select id="selectItemOnSale" resultMap="BaseResultMap">
        select uuid, onsale
        from item
        where uuid = #{uuid}
    </select>
    <select id="selectItemDescription" resultMap="BaseResultMap">
        select uuid, description
        from item
        where uuid = #{uuid}
    </select>

    <insert id="addItem">
        insert into item (uuid, name, owner, remain, onSale, description)
        values (#{uuid}, #{name}, #{owner}, #{remain}, #{onSale}, #{description})
    </insert>

    <update id="updateItemName">
        update item
        set name=#{name}
        where uuid = #{uuid}
    </update>
    <update id="updateItemRemain">
        update item
        set remain=#{remain}
        where uuid = #{uuid}
    </update>
    <update id="updateItemOnSale">
        update item
        set onsale=#{onsale}
        where uuid = #{uuid}
    </update>
    <update id="updateItemDescription">
        update item
        set description=#{description}
        where uuid = #{uuid}
    </update>

    <delete id="deleteItem">
        delete
        from item
        where uuid = #{uuid}
    </delete>

</mapper>