<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.company.project.dao.UserMapper">
    <resultMap id="BaseResultMap" type="com.company.project.model.User">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="uuid" jdbcType="VARCHAR" property="uuid"/>
        <result column="email" jdbcType="VARCHAR" property="email"/>
        <result column="username" jdbcType="VARCHAR" property="username"/>
        <result column="userRole" jdbcType="VARCHAR" property="role"/>
        <result column="avatar" jdbcType="VARCHAR" property="avatar"/>
        <result column="userRank" jdbcType="REAL" property="rank"/>
        <result column="passwd" jdbcType="VARCHAR" property="passwd"/>
    </resultMap>
    <update id="updateUserPasswd" parameterType="com.company.project.model.User">
        update user set passwd=#{passwd} where email=#{email}
    </update>
    <update id="updateUserUsername" parameterType="com.company.project.model.User">
        update user set username=#{username} where email=#{email}
    </update>

</mapper>